body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(32, 109, 244, 0.306);
}
h2{
    text-align: center;
}
form{
    padding: 10px;
    height:550px;
    border-radius: 8px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgba(0, 106, 255, 0.603);

}
label{
    display: block;
    margin:1px;
    font-weight: bold;
}
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
textarea{
    padding: 9px;
    border:2px solid rgba(210, 5, 130, 0.005);
    border-radius: 1px;
    width: 80%;
    margin-bottom: 1px;

}
select{
    width:85%;
    padding: 9px;
    border:2px solid whitesmoke;
    border-radius: 2px;
    margin-bottom: 2px;
}
input[type="submit"]{
    color: rgba(27, 29, 26, 0.856);
    background-color:rgba(43, 4, 114, 0.379);
    cursor: pointer;

}
input[type="submit"]:hover{
    background-color:rgba(191, 18, 203, 0.605);

}
.container{
    width:400px;
    margin: auto;
    height: 700px;
}